<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kataHua</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="container">
        <h1 class="main-title">Short URl</h1>
        <section class="section-1">
            <form class="url-form" action="\url" method="post">
                <label class="label">Paste the URL to be Shortened</label>
                <input class='url-input' name="url" type="text" placeholder="Enter the link here" />
                <button type="submit" class="shortUrl-btn">Shorten URL</button>
                <p class="firstPara">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ShortURL is a free tool to shorten URLs and generate
                    short links</br>
                    URL shortner allows to create a shortened link making it easy to share</p>
            </form>
        </section>
        <section class="section-2">
            <h2 class="second-title">Want more project like this?</h2>
            <p class="secondPara"> Short Links Generator , Meme Generator, Gallery, portfolio,</br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Notes of nodeJS, static
                website of Html/Css</p>
            <a href="https://github.com/ARPIT871"><button class="github-btn">Github Link</button></a>
        </section>

    </div>
 
</body>

</html>